<!DOCTYPE html>
<head>
</head>
<body>
  <h1 align="center">Current Mab Lib Stories</h1>
  <ul class="list-group">
    <% @stories.each do |story| %>
    <li class="list-group-item list-group-item-action">
      <a href="/<%= story[0...-4]%>"><%= story[0...-4] %></a>
    </li>
    <% end %>
  </ul>
</body>