<div>
<h3 align="center"><%= "#{@title}" Form%></h3>
<div class="container" style="Width: 400px; position: relative;  right: 350px; 
left: 0%; 
">
<form class="form-group" method="POST" action="/submit/story" style=" ">
    <%=
            i =0
        story_file = File.open(Dir.pwd+ "/#{@title}" << ".txt","r"){  |file|
            line =  file.readline 
            # line.to_s.gsub(/(\w+[^\[\w+\]])/) { |original_story_words| original_story_words = "<b class=\"text-primary\">#{original_story_words}</b>"}
            new_additions = line.to_s.gsub(/(\[\w+\])/) {|part_of_speech| 
                i += 1
               pos_name = part_of_speech 
               part_of_speech =   
               " 
                <label class=\"col-form-label-sm\"><b class=\"text-primary\">Enter #{pos_name}:</b></label>
                <input class=\"form-control form-control-sm\" type=\"text\" name=\"content#{i}\"></input>
               "
               
            }
                # "<p class=\"text-primary\"style=\"font-weight: bold;\">" +  new_additions + "</p>"
        }

    %> 
    <br/>
    <br/>
    <input class="btn btn-primary btn-lg btn-block" type="submit" value="Submit Radlib">
     </form> 
    </div>
<br/>

</div>


