<h4>Upload a madlibs story</h4>
  <form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="story_file">
    <input type="submit" name="story_submit">
  </form>

